.heading {
  font-family: "brandon-grotesque", sans-serif;
  text-transform: uppercase;
}

.heading--light {
  color: #f1f1f1;
}

.heading-primary {
  font-size: 4rem;
  font-weight: 600;
  line-height: 4.5rem;
  margin-bottom: 1.2rem;
  text-align: center;
}

.heading-secondary {
  font-size: 3.6rem;
  text-align: center;
  margin-bottom: 3rem;
}

.heading-tertiary {
  font-size: 2.8rem;
}

.heading-quaternary {
  font-size: 2.4rem;
}

.heading-rockets {
  font-size: 3.2rem;
  text-align: center;
  font-weight: 600;
}

.text {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.3rem;
  max-width: 600px;
}

.text--light {
  color: #f1f1f1;
}

.text span {
  font-weight: 600;
}

.date {
  font-size: 2.2rem;
  margin: 1rem 0 2rem 0;
}

small {
  font-size: 1.2rem;
  margin: 1rem auto;
  color: #f1f1f1;
}

.accordion-container {
  justify-content: flex-start;
  min-height: 70vh;
  padding-top: 10rem;
  width: 100%;
  max-width: 900px;
}

.btn-collapsible,
.btn-coll {
  background-color: #1b1e22;
  color: #f1f1f1;
  padding: 0 1rem;
  width: 100%;
  text-align: left;
}

.btn-collapsible span,
.btn-coll span {
  margin-left: 1.5rem;
  color: #bfbfbf;
}

.btn-collapsible::after,
.btn-coll::after {
  content: "\f054";
  font-family: "fontawesome";
  float: right;
}

.active,
.btn-collapsible:hover,
.btn-coll:hover {
  background-color: #5a5c5d;
}

.active::after {
  content: "\f078";
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-right: 1rem;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}

.content__image {
  width: 100%;
  max-width: 400px;
  padding: 1rem 0;
}

.content-info {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 1rem 0;
}

.content-info div {
  margin-bottom: 1.5rem;
}

.content-info .text {
  margin-bottom: 5px;
}

.content-info a,
.content-info .content-links {
  margin-left: auto;
}

.past-launches {
  height: 650px;
  overflow-x: auto;
}

.past-launches::-webkit-scrollbar {
  width: 15px;
}

.past-launches::-webkit-scrollbar-track {
  background-color: #080b0d;
}

.past-launches::-webkit-scrollbar-thumb {
  background-color: #2a2c37;
}

@media only screen and (min-width: 790px) {
  .content {
    flex-direction: row;
  }
  .content__image,
  .patch {
    margin-right: 1.5rem !important;
  }
  .content-info {
    justify-content: space-between;
  }
}

a {
  display: inline-block;
  font-weight: 600;
  font-size: 1.6rem;
  text-decoration: none;
  color: #111111;
  cursor: pointer;
  text-transform: uppercase;
  font-family: "brandon-grotesque", sans-serif;
  transition: all 300ms;
}

button {
  font-size: 1.6rem;
  font-weight: 600;
  border-style: none;
  outline: none;
  height: 45px;
  cursor: pointer;
  text-transform: uppercase;
  font-family: "brandon-grotesque", sans-serif;
  transition: all 300ms;
}

.btn {
  width: 100%;
  max-width: 250px;
  text-align: center;
  padding: 1rem 0;
}

.btn-primary {
  background-color: #12191d;
  color: #f1f1f1;
}

.btn-primary:hover, .btn-primary:focus {
  transform: translate(0, -4px);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.btn-primary:active {
  transform: translate(0, 0);
  box-shadow: none;
}

.btn-link:hover, .btn-link:focus {
  color: #d500c7;
}

.btn--cta {
  background-color: #d500c7;
  margin-top: 1.2rem;
}

.btn--cta:hover, .btn--cta:focus {
  box-shadow: 0 0 5px #d500c7, 0 0 10px #d500c7, 0 0 20px #d500c7, 0 0 40px #d500c7, 0 0 80px #d500c7;
}

.btn--cta:active {
  box-shadow: 0 0 2.5px #d500c7, 0 0 5px #d500c7, 0 0 10px #d500c7, 0 0 20px #d500c7, 0 0 40px #d500c7;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.card {
  display: flex;
  flex-direction: column;
}

.card-content {
  width: 100%;
}

.card .patch {
  margin: 0;
}

.card.center {
  align-items: center;
  text-align: center;
  width: 100%;
  max-width: 500px;
}

.card__image {
  width: 100%;
  max-width: 500px;
  margin-bottom: 6px;
}

.card__details {
  display: flex;
  flex-direction: column;
}

.card__details h4 {
  margin-bottom: 6px;
}

.card__details a {
  margin: 4px 0;
}

@media only screen and (min-width: 1000px) {
  .cards {
    flex-direction: row;
    width: 100%;
  }
}

.patch {
  width: 100%;
  max-width: 200px;
  height: 100%;
  max-height: 250px;
  padding: 1rem 0;
}

.lds-default {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-default div {
  position: absolute;
  width: 6px;
  height: 6px;
  background: var(--color-secondary);
  border-radius: 50%;
  animation: lds-default 1.2s linear infinite;
}

.lds-default div:nth-child(1) {
  animation-delay: 0s;
  top: 37px;
  left: 66px;
}

.lds-default div:nth-child(2) {
  animation-delay: -0.1s;
  top: 22px;
  left: 62px;
}

.lds-default div:nth-child(3) {
  animation-delay: -0.2s;
  top: 11px;
  left: 52px;
}

.lds-default div:nth-child(4) {
  animation-delay: -0.3s;
  top: 7px;
  left: 37px;
}

.lds-default div:nth-child(5) {
  animation-delay: -0.4s;
  top: 11px;
  left: 22px;
}

.lds-default div:nth-child(6) {
  animation-delay: -0.5s;
  top: 22px;
  left: 11px;
}

.lds-default div:nth-child(7) {
  animation-delay: -0.6s;
  top: 37px;
  left: 7px;
}

.lds-default div:nth-child(8) {
  animation-delay: -0.7s;
  top: 52px;
  left: 11px;
}

.lds-default div:nth-child(9) {
  animation-delay: -0.8s;
  top: 62px;
  left: 22px;
}

.lds-default div:nth-child(10) {
  animation-delay: -0.9s;
  top: 66px;
  left: 37px;
}

.lds-default div:nth-child(11) {
  animation-delay: -1s;
  top: 62px;
  left: 52px;
}

.lds-default div:nth-child(12) {
  animation-delay: -1.1s;
  top: 52px;
  left: 62px;
}

@keyframes lds-default {
  0%,
  20%,
  80%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem;
  background-color: #12191d;
}

.footer-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1500px;
}

.footer-nav {
  margin: 3rem 0;
}

.footer-nav__item {
  list-style: none;
  padding: 1.5rem 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.footer-nav__link, .footer-nav__link:link, .footer-nav__link:visited {
  color: #f1f1f1;
  font-size: 1.6rem;
}

.footer-nav__link:hover, .footer-nav__link:focus {
  color: #d500c7;
}

.footer-icon {
  padding: 3rem 0;
}

.footer-icon__list {
  display: flex;
  flex-direction: row;
  list-style: none;
  flex-wrap: wrap;
}

.footer-icon__item:not(:last-child) {
  margin-right: 2.5rem;
}

.footer-icon__link {
  color: #f1f1f1;
  font-size: 2.5rem;
}

.footer-icon__link:hover, .footer-icon__link:focus {
  color: #d500c7;
}

.logo--footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1500px;
}

.logo--footer::before, .logo--footer::after {
  content: "";
  background-color: #f1f1f1;
  height: 1px;
  width: 100%;
}

.logo--footer::before {
  margin-right: 1rem;
}

.logo--footer::after {
  margin-left: 1rem;
}

@media only screen and (min-width: 650px) {
  .footer-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .footer-nav {
    flex: 0.5;
  }
}

@media only screen and (min-width: 1000px) {
  .footer-nav__list {
    display: flex;
    flex-direction: row;
  }
  .footer-nav__item {
    padding: 0;
    margin-right: 2.5rem;
    border-bottom: none;
  }
}

.form-contact {
  width: 100%;
  max-width: 500px;
  background-color: #1b1e22;
  padding: 2rem;
  margin-top: 3rem;
}

.form-contact .btn {
  background-color: #d500c7;
}

.form-contact .btn:hover, .form-contact .btn:focus {
  background-color: springgreen;
}

.form-contact .btn:active {
  background-color: #00ff8098;
}

.form-details {
  margin-bottom: 1rem;
  font-size: 1.6rem;
  color: #f1f1f1;
}

.form__input {
  border-style: none;
  padding: 0 0.8rem;
  width: 100%;
  height: 45px;
  font-size: 1.6rem;
  background-color: rgba(241, 241, 241, 0.8);
  margin-top: 1rem;
}

select {
  cursor: pointer;
}

.form__input::placeholder {
  color: #111111;
}

.form__textarea {
  height: 200px;
  font-family: "Roboto", sans-serif;
  padding: 0.8rem;
}

.subscribe-form {
  display: flex;
  flex-direction: column;
  margin: 4rem 0 6rem;
  width: 100%;
  max-width: 400px;
}

.subscribe-form .btn {
  background-color: #d500c7;
  margin-top: 8px;
}

.subscribe-form .btn:hover, .subscribe-form .btn:focus {
  background-color: springgreen;
}

.subscribe-form .btn:active {
  background-color: #00ff8098;
}

.form-error {
  display: none;
  color: #f1f1f1;
  background-color: red;
  padding: 1rem 0.8rem;
}

#submit-message {
  display: none;
  font-size: 1.6rem;
  margin: 3rem auto 0;
  color: springgreen;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  font-size: 62.5%;
  /*100/16=6.25 (1rem = 10px)*/
}

body {
  display: flex;
  flex-direction: column;
  background-color: #f1f1f1;
  font-family: "Roboto", sans-serif;
  color: #111111;
}

main {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

.section {
  margin: 10rem 0;
}

.row {
  width: 100%;
  gap: 5rem;
}

@media only screen and (min-width: 1000px) {
  .row {
    flex-direction: row;
    align-items: flex-start;
  }
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  width: 100%;
}

.nav--home {
  z-index: 100;
  position: absolute;
}

.nav-bg {
  background-color: #080b0d;
}

.nav__list {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.nav__item {
  display: flex;
  text-align: center;
  list-style: none;
}

.nav__link, .nav__link:link, .nav__link:visited {
  font-size: 2rem;
  color: #f1f1f1;
  padding: 0.8rem 0;
  width: 100%;
}

.nav__link--active {
  border-bottom: 1px solid #f1f1f1;
  background-color: rgba(8, 11, 13, 0.6);
}

.nav__link:hover, .nav__link:focus, .nav__link:active {
  border-bottom: 1px solid #f1f1f1;
}

.logo {
  font-family: "brandon-grotesque", sans-serif;
  font-weight: 800;
  font-size: 3.8rem;
  color: #f1f1f1;
  margin-bottom: 1rem;
}

.logo span {
  color: #d500c7;
}

@media only screen and (min-width: 520px) {
  .nav__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .nav__item:not(:last-of-type) {
    margin-right: 2.5rem;
  }
  .nav__link,
  .nav__link:link,
  .nav__link:visited {
    padding: 0;
  }
}

@media only screen and (min-width: 800px) {
  .nav {
    flex-direction: row;
    justify-content: space-between;
  }
  .nav__list {
    width: fit-content;
  }
}

.banner {
  background-image: url("../images/galaxy-night-landscape.jpg");
  background-size: cover;
  background-position: right;
  height: calc(100vh + 247px);
  position: relative;
  padding: 1rem;
}

.banner .container {
  margin-top: 8rem;
}

@media only screen and (min-width: 520px) {
  .banner {
    height: 100vh;
  }
  .banner .container {
    margin-top: 0px;
  }
}

.contact-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  width: 100%;
  margin: auto 0;
}

.contact__details {
  padding-bottom: 1.5rem;
  width: 260px;
}

.contact__links,
.contact__links:link,
.contact__links:visited {
  font-size: 1.6rem;
}

.contact__links:hover,
.contact__links:focus {
  color: #d500c7;
}

.career {
  position: relative;
}

.career__blockquote {
  margin-bottom: 1rem;
}

.career-img-container {
  display: none;
}

@media only screen and (min-width: 480px) {
  .career {
    margin-bottom: 40rem;
  }
  .career-img-container {
    display: flex;
    position: relative;
    margin: 7rem auto 0;
    width: 100%;
    max-width: 900px;
  }
  .career__image {
    width: 100%;
    max-width: 45%;
    height: auto;
    position: absolute;
    transition: all 0.6s;
    cursor: pointer;
    filter: grayscale(100%);
  }
  .career__image--1 {
    left: 3%;
    top: 0;
  }
  .career__image--2 {
    left: 25%;
    top: 10rem;
  }
  .career__image--3 {
    right: 3%;
    top: 0;
  }
  .career__image--1:hover,
  .career__image--2:hover,
  .career__image--3:hover {
    z-index: 999;
    transform: scale(1.1) translateY(-1.5rem);
    filter: grayscale(0);
  }
}

.upcoming-launches,
.past-launches {
  width: 100%;
  max-width: 600px;
}

.launch-next .btn {
  display: none;
}
/*# sourceMappingURL=style.css.map */