$color-primary: #080b0d;
$color-secondary: #12191d;
$color-tertiary: #2a3740;

$color-dark-grey: #6e7173;
$color-light-grey: #bfbfbf;
$color-cta: #d500c7;

$color-light: #f1f1f1;
$color-dark: #111111;

$box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

$font-primary: "Roboto", sans-serif;
$font-secondary: "brandon-grotesque", sans-serif;
