.form-contact {
  width: 100%;
  max-width: 500px;
  background-color: $color-tertiary;
  padding: 2rem;
  margin-top: 3rem;
}

.form-details {
  margin-bottom: 1rem;
  font-size: 1.6rem;
  color: $color-light;
}

.form__input {
  border-style: none;
  padding: 0 0.8rem;
  width: 100%;
  height: 45px;
  font-size: 1.6rem;
  background-color: rgba($color-light, 0.7);
  margin-top: 1rem;
}

.form__input::placeholder {
  color: $color-dark;
}

.form__textarea {
  height: 200px;
  font-family: $font-primary;
  padding: 0.8rem;
}

.form-error {
  display: none;
  color: $color-light;
  background-color: red;
  padding: 1rem 0.8rem;
}

.subscribe-form {
  display: flex;
  flex-direction: column;
  margin: 4rem 0 6rem;
  width: 100%;
  max-width: 400px;
}

#submit-message {
  display: none;
  font-size: 2rem;
  margin: 3rem auto 0;
  color: var(--green-color);
}
