*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  font-size: 62.5%; /*100/16=6.25 (1rem = 10px)*/
}

body {
  display: flex;
  flex-direction: column;
  background-color: $color-light;
  font-family: $font-primary;
  color: $color-dark;
}

main {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

.section {
  margin: 10rem 0;
}

.row {
  width: 100%;
  gap: 5rem;
}

@media only screen and (min-width: 1000px) {
  .row {
    flex-direction: row;
    align-items: flex-start;
  }
}
