.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  width: 100%;

  &--home {
    z-index: 100;
    position: absolute;
  }

  &-bg {
    background-color: $color-primary;
  }

  &__list {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__item {
    display: flex;
    text-align: center;
    list-style: none;
  }

  &__link,
  &__link:link,
  &__link:visited {
    font-size: 2rem;
    color: $color-light;
    padding: 0.8rem 0;
    width: 100%;
  }

  &__link--active {
    border-bottom: 1px solid $color-light;
  }

  &__link:hover,
  &__link:active {
    border-bottom: 1px solid $color-light;
  }
}

.logo {
  font-family: $font-secondary;
  font-weight: 800;
  font-size: 3.8rem;
  color: $color-light;
  margin-bottom: 1rem;

  & span {
    color: $color-cta;
  }
}

@media only screen and (min-width: 520px) {
  .nav__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .nav__item:not(:last-of-type) {
    margin-right: 2.5rem;
  }

  .nav__link,
  .nav__link:link,
  .nav__link:visited {
    padding: 0;
  }
}

@media only screen and (min-width: 800px) {
  .nav {
    flex-direction: row;
    justify-content: space-between;

    &__list {
      width: fit-content;
    }
  }
}
