.accordion-container {
  @include container-accordion;
}

.btn-collapsible,
.btn-coll {
  background-color: $color-tertiary;
  color: $color-light;
  padding: 0 1rem;
  width: 100%;
  text-align: left;

  & span {
    margin-left: 1.5rem;
    color: $color-light-grey;
  }

  &::after {
    content: "\f054";
    font-family: "fontawesome";
    float: right;
  }
}

.active,
.btn-collapsible:hover,
.btn-coll:hover {
  background-color: $color-dark-grey;
}

.active::after {
  content: "\f078";
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-right: 1rem;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: $color-light;

  &__image {
    width: 100%;
    max-width: 400px;
    padding: 1rem 0;
  }

  &-info {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 1rem 0;

    & div {
      margin-bottom: 1.5rem;
    }

    & .text {
      margin-bottom: 5px;
    }

    & a,
    & .content-links {
      margin-left: auto;
    }
  }
}

.past-launches {
  height: 650px;
  overflow-x: auto;

  &::-webkit-scrollbar {
    width: 15px;
  }

  &::-webkit-scrollbar-track {
    background-color: $color-primary;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #2a2c37;
  }
}

@media only screen and (min-width: 790px) {
  .content {
    flex-direction: row;
  }

  .content__image,
  .patch {
    margin-right: 1.5rem !important;
  }

  .content-info {
    justify-content: space-between;
  }
}
