.contact-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  width: 100%;
  margin: auto 0;
}

.contact__details {
  padding-bottom: 1.5rem;
  width: 260px;
}

.contact__links,
.contact__links:link,
.contact__links:visited {
  font-size: 1.6rem;
}

.contact__links:hover,
.contact__links:focus {
  color: $color-cta;
}

.career {
  position: relative;

  &__blockquote {
    margin-bottom: 1rem;
  }
}

.career-img-container {
  display: none;
}

@media only screen and (min-width: 480px) {
  .career {
    margin-bottom: 40rem;
  }

  .career-img-container {
    display: flex;
    position: relative;
    margin: 7rem auto 0;
    width: 100%;
    max-width: 900px;
  }

  .career__image {
    width: 100%;
    max-width: 45%;
    height: auto;
    position: absolute;
    transition: all 0.6s;
    cursor: pointer;
    filter: grayscale(100%);
  }

  .career__image--1 {
    left: 3%;
    top: 0;
  }

  .career__image--2 {
    left: 25%;
    top: 10rem;
  }

  .career__image--3 {
    right: 3%;
    top: 0;
  }

  .career__image--1:hover,
  .career__image--2:hover,
  .career__image--3:hover {
    z-index: 999;
    transform: scale(1.1) translateY(-1.5rem);
    filter: grayscale(0);
  }
}
